extends layout2

block content

	.box-title
		h3 #{user.name}'s profile:
	.box-content
		img(class="mugshot", src="#{user.profile.mugshot}", alt="mugshot")

		div#profile
			div Date joined: #{new Date(user.profile.joined_date).toDateString()}
			div Points: #{user.profile.points}
			div Display Name: #{user.name}
			div Description: #{user.profile.description}
			div Location: #{user.profile.location}
			div Website: #{user.profile.website}

		h3 Other accounts:
		each provider in user.profile.providers
			div
				img(class="mugshot", src="#{provider.mugshot}", alt="mugshot")
				div(style="text-transform:capitalize;") #{provider.name}
					br
					input(type="button", value="#{provider.display_name}" onclick="window.location.href='#{provider.url}'")

		h3 Courses:
		p No courses attended

		h3 Badges:
		p Early signup badge