extends layout

block content
	script(type="text/javascript", src="/socket.io/socket.io.js")
	script(type="text/javascript", src="/javascripts/main.js")

	| Index or 
	if !user.guest
		a(href="/profile") Profile
		|  or 
	a(href="/study") Study
	|  or 
	a(href="/coding") Coding

	each error in errors
		p.errors #{error.msg}

	h3 All users:
	div#all-users
		each user in users
			div.user
				a(class="mugshot-link", href="#{user.profile.website}", title="profile")
					img(class="mugshot", src="#{user.profile.mugshot}", alt="mugshot")
					p #{user.name}
					p #{user.profile.description}
	div.clear
	
	h3 Ready to play:
	div#online-users
		p Loading users ...
	div.clear