extends layout2

block content

	script(type="text/javascript", src="/javascripts/main.js")

	.box-title
		h3 Dashboard
	.box-content
		each error in errors
			p.errors #{error.msg}

		h3 Registered users:
		div#online-users
			each user in users
				div.user
					a(class="mugshot-link", href="/#{user.username}", title="profile")
						center
							img(class="mugshot", src="#{user.profile.mugshot}", alt="mugshot")
						p #{user.name}
						p #{user.profile.description}
						p points: #{user.profile.points}
		div.clear