extends layout

block content

	input(type="button", value="Index" onclick="window.location.href='/'")
	if !user.guest
		input(type="button", value="Profile" onclick="window.location.href='/profile'")
	input(type="button", value="Study" onclick="window.location.href='/study'")
	input(type="button", value="Coding" onclick="window.location.href='/coding'")
	input(type="button", value="Sumorobot" onclick="window.location.href='/sumorobot'")

	div#profile
		h3 Change profile:
		
		p.messages #{message}
		each error in errors
			p.errors #{error.msg}

		form(name="profile", action="/profile/update", method="post", enctype="multipart/form-data")
			div Email: #{user.email} (ask admin to change email xD)
			div Date joined: #{new Date(user.profile.joined_date).toDateString()}
			div Points: #{user.profile.points}
			div#mugshot
				img(class="mugshot", src="#{user.profile.mugshot}", alt="mugshot")
				input(type="file", name="mugshot")
			div Name:
				br
				input(type="text", name="name", value="#{user.name}")
			div Description:
			textarea(type="text", name="description", placeholder="personal info")
				| #{user.profile.description}
			div Location:
				br
				input(type="text", name="location", placeholder="location", value="#{user.profile.location}")
			div Website:
				br
				input(type="text", name="website", placeholder="website", value="#{user.profile.website}")
			input(type="submit", value="Save")

		h3 Change password:
		form(name="password", action="/profile/password", method="post")
			input(type="password" name="password" placeholder="New password")
			br
			input(type="password" name="passwordConfirm" placeholder="Repeat new password")
			br
			input(type="submit", value="Save")

		h3 Other accounts:
		each provider in user.profile.providers
			div
				img(class="mugshot", src="#{provider.mugshot}", alt="mugshot")
				div(style="text-transform:capitalize;") #{provider.name}
					br
					input(type="button", value="#{provider.display_name}" onclick="window.location.href='#{provider.url}'")
					&nbsp;
					input(type="button", value="Set as Mugshot" onclick="window.location.href='/profile/mugshot/#{provider.name}'")
					&nbsp;
					input(type="button", value="Disconnect" onclick="window.location.href='/profile/remove/#{provider.name}'")
		div#oauths
			each login in logins
				input(type="button", value="Connect #{login[0]}" onclick="window.location.href='#{login[1]}'")
				br